# SPDX-License-Identifier: Apache-2.0
# Copyright 2026 lituus-lab
[layers]
common
data
scales
stats
grammar
serialization
scene
guides
render
c_api

[engines]
UniMath
UniLinalg
UniColor
UniImage
UniVector
UniGlyph
